body {
	background: linear-gradient(to bottom right, #DDA0DD, #DA70D6);
	min-height: 100vh;	
}

.app {
	width: 80%;
	min-width: 500px;
	margin: 30px auto;
	background: linear-gradient(to bottom right, #FF4500, #FA8072);
	padding-bottom: 20px;
}

img {
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 30px;
}

form{
	background: linear-gradient(to bottom right, red, yellow);
}


input {
	height: 40px;
	margin: 20px;
}

.contactItem {
	padding: 10px;
	margin: 10px;
	background: linear-gradient(to bottom right, yellow, green);
	width: 30%;
	min-width: 380px;
	display: inline-block;
}

button {
	height: 40px;
	cursor: pointer;
	padding: 0 20px;
	margin: 10px 20px;
}